!!! 5
html
  head
    title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootswatch/3.0.0/cosmo/bootstrap.min.css')
    link(rel='stylesheet', href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
  body
    div.navbar.navbar-inverse
      div.container
        div.navbar-header
          a.navbar-brand KLIENT DATASTORE 
            i.icon-lightbulb.pull-left.icon-large
      div.container


    